<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-57.png</string>
		<string>Icon-114.png</string>
		<string>Icon-72.png</string>
		<string>Icon-144.png</string>
		<string>Icon-76.png</string>
		<string>Icon-120.png</string>
		<string>Icon-152.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>cn.appgo.sharebyone.cocos2dx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cn.appgo.sharebyone.cocos2dx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cn.appgo.sharebyone.cocos2dx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pocketapp1234</string>
				<string>fb107704292745179</string>
				<string>wb801307650</string>
				<string>tencent100371282</string>
				<string>wx4868b35061f87885</string>
				<string>QQ05FB8B52</string>
				<string>pin1432928</string>
				<string>rm226427cn.appgo.sharebyone</string>
				<string>wb568898243</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
